body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.start {
    position: relative;
    width: 100%;
    height: 500px;
}

.startimg {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}   

.bcont {
    padding: 10px;
    width: 100%;
    min-height: 50px;
    background-color: black;
}

.bconttitle {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}

.bconttxt {
    color: white;
    text-align: center;
}

.coverimg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.covergradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(3px);
}